<nav>
  <div  (click)="handleMenuOpen()" class="ham-menu">
    <button  routerLink="/newchat">+ New chat</button>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div><p>Old conversation 1</p></div>
  <div class="new-chat">+</div>
</nav>
<div class="pos-f-t mb-5 fixed-top z-0">
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler btn btn-outline-success" type="button" (click)="handleMenuOpen()" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <button class="btn btn-outline-success" routerLink="">Accueil</button>
    <div class="my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" routerLink="/newchat" type="submit">
        <i class="bi-chat-text">+</i>
      </button>
    </div>
  </nav>
</div>


<div id="main" class="mt-5">
  <div id="sidenav" class="z-3">
    <div class="sidenav-content">
      <button id="close"><span> </span></button>
      <div class="mb-5 ">
        <button class="btn btn-close btn-close-white float-end me-3" (click)="handleMenuClose()"></button>
      </div>
      <button id="new-chat-btn" routerLink="/newchat">+ New chat</button>
      <div class="saved-chats">
        <p class="selected" >Old conversation 1</p>
        <p>Old conversation 2</p>
      </div>
      <div class="config">
        <hr />
        <p>Clear conversations</p>
        <p>Dark mode</p>
        <p>Update & FAQs</p>
        <p>Log out</p>
      </div>
    </div>
  </div>
  <div id="content-body">
    <router-outlet>

    </router-outlet>

    <div id="chat-section">
      <a href="#" class="btn btn-primary" *ngIf="fileName && fileName.trim().length > 0">{{fileName}}</a>
<!--      <p>{{question}}</p>-->
      <div class="d-flex align-items-center" id="chat-sectiondiv">
        <textarea class="auto-textarea flex-grow-1 me-2" [(ngModel)]="question" placeholder="Écrivez votre message ici...">

        </textarea>

              <div class="d-flex h-auto"> <!-- Groupe de boutons -->

                <label class="custom-file-upload icon-button text-white me-2">
                  <input type="file"  accept=".mp3,audio/*" class="d-none" #audioFileInput  (change)="onAudioFileSelected($event)"  [attr.accept]="'.mp3,.ogg,.wav*'" >
<!--                  <i class="bi bi-paperclip fs-6 text-dark"></i>-->
                  <i class="bi bi-mic-fill fs-6 text-dark"></i>
                </label>
                <label class="custom-file-upload icon-button text-white me-2">
                  <input type="file" class="d-none" #fileInput  (change)="onFileSelected($event)"  [attr.accept]="'.pdf'" >
                  <i class="bi bi-paperclip fs-6 text-dark"></i>
                </label>

                <button class="icon-button me-2" (click)="chatComponent()">
                  <i class="bi bi-search fs-6" title="Submit"></i>
                </button>

                <button class="icon-button" id="icon-buttonSubmit" *ngIf="fileUpload">
                  <i class="bi bi-send fs-6"  (click)="uploadFile()" title="Submit"></i>
                </button>
                <button class="icon-button" id="icon-buttonSubmit1" *ngIf="audiofileUpload">
                  <i class="bi bi-send fs-6"  (click)="uploadAudioFile()" title="Submit"></i>
                </button>
              </div>

      </div>
    </div>


  </div>


</div>
